* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("images/menu_background.jpg" )no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Make logo responsive */
.logo {
    max-width: 100%;   /* Prevent overflow */
    height: auto;      /* Maintain aspect ratio */
}

/* Optional: Adjust size for different devices */
@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px;
    }
}
