{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="{% static 'menu/style.css' %}">
    <title>Menu des pizzas</title>
</head>
<body>
    <p>Bienvenue dans notre menu de pizzas !</p>
    <h1>Nos pizzas :</h1>
    <ul>
        {% for pizza in pizzas %}
            <li>{{ pizza.nom }} -  {{ pizza.ingredients }} - {{ pizza.prix }} FCFA</li>
        {% endfor %}
    </ul>
    <footer>
        <p>&copy; 2026 <b>Pizza Mama.</b> Tous droits réservés.</p>
    </footer>
</body>
</html>