{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="{% static 'menu/style.css' %}">
    <title>Menu des pizzas</title>
</head>
<body>
    <header>
    <!-- Responsive Logo -->
    <img src="{% static 'menu/images/small_logo.png' %}" alt="Site Logo" class="logo">
</header>
    <p>Bienvenue dans notre menu de pizzas !</p>
    
    <div class="menu_title">
        <h1>Nos pizzas :</h1>
    </div>
    <div class="menu_list">
        {% for pizza in pizzas %}
            <div class="menu_liste_item">
                <span class="menu_liste_title">{{ pizza.nom }}</span> 
                <span class="menu_liste_price">{{ pizza.prix }}€</span>
                <span class="menu_liste_ingredients">{{ pizza.ingredients }}</span>
            </div>
        {% endfor %}
    </div>
    <footer>
        <p>&copy; 2026 <b>Pizza Mama.</b> Tous droits réservés.</p>
    </footer>
</body>
</html>